<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Coordinator.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>DataSource.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Extensions.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>Futures.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>Glance - WatchApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>Notification - WatchApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>Provisioner.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>SDK.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>Savant.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Scenes.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Testing123.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>WatchApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1E103EF71AE044A300243368</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1E13BA1B1B0D1E8D001C1F1F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1E7BC3B81AB8A97800EF9A26</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1EA46B5E1AC05B6F00215A1D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1EB4FB0F1ABC911100FEF51F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1EC24F091AB9D1D600D4FD1E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1EC24F491AB9D32300D4FD1E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1EDA0B911AB9D3FB006E5CF6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2D1980151A7D26A000F78DD3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>42C89EB81ACF3B9200930F06</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
